@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table>
    <tbody>

        @foreach (var item in @Model.Lista)
        {
            <tr>
                <td>
                    <img width="300" height="230" src="@item.Bild" />

                    <a class="btn btn-outline-primary" asp-page="/ListProd" asp-route-id="@item.Id">@item.KatNamn</a>
                </td>
            </tr>
        }

    </tbody>
</table>

