@page
@model InstrumentShop.Pages.ProductModel
@{
}

<form enctype="multipart/form-data">
    <table class="form-group">
        <thead>
        <tr>
            <th>

            </th>
            <th>
                @Model.Namn
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img width="100" height="70" src="@Model.BildSource" /></td>
            <td>
                Pris: @Model.Pris kr
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Model.Beskrivning
            </td>
        </tr>
        </tbody>
    </table>
</form>