@page
@model InstrumentShop.Pages.ProductModel
@{
}

<table>
    <thead>
        <tr>
            <td>
                @Model.Namn
            </td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Model.Pris
        </td>
    </tr>
    <tr>
        <td>
            @Model.Beskrivning
        </td>
    </tr>
    </tbody>
</table>